<h2>User info</h2>
<!--ここにプロフィール画像-->
<table class = "table">
  <tbody>
    <tr></tr>

    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><!--ここに紹介文--></th>
    </tr>

    </tbody>
</table>

<div class = "row">
  <!--ここに編集へのリンク-->
</div>